Web References/UserService/Users.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="adminView">
        <s:complexType />
      </s:element>
      <s:element name="adminViewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="adminViewResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addCourse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hours" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="program" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="crn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prereq" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="repeat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="semester" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addCourseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addCourseResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteCourse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="program" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="crn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteCourseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteCourseResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="catalogView">
        <s:complexType />
      </s:element>
      <s:element name="catalogViewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="catalogViewResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="detailsView">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="program" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="crn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="detailsViewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="detailsViewResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addFeedback">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="program" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="crn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addFeedbackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addFeedbackResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFeedback">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="program" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="crn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFeedbackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getFeedbackResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPreReq">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="courseId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPreReqResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPreReqResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSemesters">
        <s:complexType />
      </s:element>
      <s:element name="getSemestersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSemestersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="encrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="plainText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="encryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encryptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="decrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cipherText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="decryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="decryptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="adminViewSoapIn">
    <wsdl:part name="parameters" element="tns:adminView" />
  </wsdl:message>
  <wsdl:message name="adminViewSoapOut">
    <wsdl:part name="parameters" element="tns:adminViewResponse" />
  </wsdl:message>
  <wsdl:message name="addCourseSoapIn">
    <wsdl:part name="parameters" element="tns:addCourse" />
  </wsdl:message>
  <wsdl:message name="addCourseSoapOut">
    <wsdl:part name="parameters" element="tns:addCourseResponse" />
  </wsdl:message>
  <wsdl:message name="deleteCourseSoapIn">
    <wsdl:part name="parameters" element="tns:deleteCourse" />
  </wsdl:message>
  <wsdl:message name="deleteCourseSoapOut">
    <wsdl:part name="parameters" element="tns:deleteCourseResponse" />
  </wsdl:message>
  <wsdl:message name="catalogViewSoapIn">
    <wsdl:part name="parameters" element="tns:catalogView" />
  </wsdl:message>
  <wsdl:message name="catalogViewSoapOut">
    <wsdl:part name="parameters" element="tns:catalogViewResponse" />
  </wsdl:message>
  <wsdl:message name="detailsViewSoapIn">
    <wsdl:part name="parameters" element="tns:detailsView" />
  </wsdl:message>
  <wsdl:message name="detailsViewSoapOut">
    <wsdl:part name="parameters" element="tns:detailsViewResponse" />
  </wsdl:message>
  <wsdl:message name="addFeedbackSoapIn">
    <wsdl:part name="parameters" element="tns:addFeedback" />
  </wsdl:message>
  <wsdl:message name="addFeedbackSoapOut">
    <wsdl:part name="parameters" element="tns:addFeedbackResponse" />
  </wsdl:message>
  <wsdl:message name="getFeedbackSoapIn">
    <wsdl:part name="parameters" element="tns:getFeedback" />
  </wsdl:message>
  <wsdl:message name="getFeedbackSoapOut">
    <wsdl:part name="parameters" element="tns:getFeedbackResponse" />
  </wsdl:message>
  <wsdl:message name="getPreReqSoapIn">
    <wsdl:part name="parameters" element="tns:getPreReq" />
  </wsdl:message>
  <wsdl:message name="getPreReqSoapOut">
    <wsdl:part name="parameters" element="tns:getPreReqResponse" />
  </wsdl:message>
  <wsdl:message name="getSemestersSoapIn">
    <wsdl:part name="parameters" element="tns:getSemesters" />
  </wsdl:message>
  <wsdl:message name="getSemestersSoapOut">
    <wsdl:part name="parameters" element="tns:getSemestersResponse" />
  </wsdl:message>
  <wsdl:message name="encryptSoapIn">
    <wsdl:part name="parameters" element="tns:encrypt" />
  </wsdl:message>
  <wsdl:message name="encryptSoapOut">
    <wsdl:part name="parameters" element="tns:encryptResponse" />
  </wsdl:message>
  <wsdl:message name="decryptSoapIn">
    <wsdl:part name="parameters" element="tns:decrypt" />
  </wsdl:message>
  <wsdl:message name="decryptSoapOut">
    <wsdl:part name="parameters" element="tns:decryptResponse" />
  </wsdl:message>
  <wsdl:portType name="UsersSoap">
    <wsdl:operation name="adminView">
      <wsdl:input message="tns:adminViewSoapIn" />
      <wsdl:output message="tns:adminViewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addCourse">
      <wsdl:input message="tns:addCourseSoapIn" />
      <wsdl:output message="tns:addCourseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteCourse">
      <wsdl:input message="tns:deleteCourseSoapIn" />
      <wsdl:output message="tns:deleteCourseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="catalogView">
      <wsdl:input message="tns:catalogViewSoapIn" />
      <wsdl:output message="tns:catalogViewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="detailsView">
      <wsdl:input message="tns:detailsViewSoapIn" />
      <wsdl:output message="tns:detailsViewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addFeedback">
      <wsdl:input message="tns:addFeedbackSoapIn" />
      <wsdl:output message="tns:addFeedbackSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getFeedback">
      <wsdl:input message="tns:getFeedbackSoapIn" />
      <wsdl:output message="tns:getFeedbackSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPreReq">
      <wsdl:input message="tns:getPreReqSoapIn" />
      <wsdl:output message="tns:getPreReqSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSemesters">
      <wsdl:input message="tns:getSemestersSoapIn" />
      <wsdl:output message="tns:getSemestersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="encrypt">
      <wsdl:input message="tns:encryptSoapIn" />
      <wsdl:output message="tns:encryptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="decrypt">
      <wsdl:input message="tns:decryptSoapIn" />
      <wsdl:output message="tns:decryptSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsersSoap" type="tns:UsersSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="adminView">
      <soap:operation soapAction="http://tempuri.org/adminView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCourse">
      <soap:operation soapAction="http://tempuri.org/addCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCourse">
      <soap:operation soapAction="http://tempuri.org/deleteCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="catalogView">
      <soap:operation soapAction="http://tempuri.org/catalogView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="detailsView">
      <soap:operation soapAction="http://tempuri.org/detailsView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addFeedback">
      <soap:operation soapAction="http://tempuri.org/addFeedback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFeedback">
      <soap:operation soapAction="http://tempuri.org/getFeedback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPreReq">
      <soap:operation soapAction="http://tempuri.org/getPreReq" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSemesters">
      <soap:operation soapAction="http://tempuri.org/getSemesters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="encrypt">
      <soap:operation soapAction="http://tempuri.org/encrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="decrypt">
      <soap:operation soapAction="http://tempuri.org/decrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UsersSoap12" type="tns:UsersSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="adminView">
      <soap12:operation soapAction="http://tempuri.org/adminView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCourse">
      <soap12:operation soapAction="http://tempuri.org/addCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCourse">
      <soap12:operation soapAction="http://tempuri.org/deleteCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="catalogView">
      <soap12:operation soapAction="http://tempuri.org/catalogView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="detailsView">
      <soap12:operation soapAction="http://tempuri.org/detailsView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addFeedback">
      <soap12:operation soapAction="http://tempuri.org/addFeedback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFeedback">
      <soap12:operation soapAction="http://tempuri.org/getFeedback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPreReq">
      <soap12:operation soapAction="http://tempuri.org/getPreReq" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSemesters">
      <soap12:operation soapAction="http://tempuri.org/getSemesters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="encrypt">
      <soap12:operation soapAction="http://tempuri.org/encrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="decrypt">
      <soap12:operation soapAction="http://tempuri.org/decrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Users">
    <wsdl:port name="UsersSoap" binding="tns:UsersSoap">
      <soap:address location="https://localhost:44308/Users.asmx" />
    </wsdl:port>
    <wsdl:port name="UsersSoap12" binding="tns:UsersSoap12">
      <soap12:address location="https://localhost:44308/Users.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>